.encabezado {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
nav.menu {
    align-self: center;
}
.item {
    margin: 0 18px;
    font-weight: 600;
    font-family: Arial;
    font-size: 19px;
    text-decoration: none;
    align-self: center;
}
.emcabezado2 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    background: white;
}
button.primary {
    font-family: system-ui;
    color: white;
    background: orange;
    border-color: orange;
    height: 34px;
    border-radius: 5px;
}
input[type="text"] {
    width: 470px;
    border-radius: 5px;
}